@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

@import url('./htmx.css');
@import url('./button.css');
@import url('./dialog.css');
@import url('./sweet-alert.css');
@import url('./toast.css');

:root {
    --bg-primary: #d9d9d9;
    --bg-header: rgba(217, 217, 217, 0.1);
    --bg-menu: rgba(114, 114, 114, 0.1);
    --bg-secondary: #cfcfcf;
    --btn-primary: #c3ffb4;
    --secondary: #959595;
    --soft-color: #afafaa;
    --font-primary: #7d7d7d;
    --font-secondary: #dadada;
    --link-hover: #789e6f;
    --success: #789e6f;
    --warning: #b4293e;
    --disabled: #afafaa;
    --hover-color: rgba(128, 128, 128, 0.2);
    --animate-duration: 1.5s;
    --border-radius: 7px;
}

* {
    font-family: Poppins, "Noto Sans", sans-serif;
    color: var(--font-primary);
    border: solid 0px transparent;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    overflow-y: auto;
}

.header {
    display: flex;
    position: fixed;
    width: 100vw;
    padding: 20px 20px 10px;
    background-color: var(--bg-header);
    backdrop-filter: blur(5px);
    z-index: 10000;
}

.material-symbols-outlined {
    line-height: unset;
}

.header .material-symbols-outlined {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    width: 90vw;
    padding: 30px;
    margin: auto;
    overflow: hidden;
}

.secondary {
    color: var(--font-secondary) !important;
    background-color: var(--secondary) !important;
}

.bg-warning {
    color: var(--font-secondary) !important;
    background-color: var(--warning) !important;
}

.warning {
    color: var(--warning);
    font-weight: 500;
}


.small-icon {
    font-size: 1.7em;
}

.big-icon {
    font-size: 6cqw;
}

.center {
    display: flex;
    justify-content: center;
}

.g-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.w-100 {
    width: 100% !important;
}

.w-1 {
    width: 8.5% !important;
}

.w-2 {
    width: 17% !important;
}

.w-3 {
    width: 25.5% !important;
}

.w-5 {
    width: 50% !important;
}

.u-case {
    text-transform: uppercase;
}

.l-case {
    text-transform: lowercase;
}

*.fl-case:first-letter {
    text-transform: uppercase;
}

.titles {
    flex-direction: column;
    padding: 40px 0;
}

.titles h1,
.titles h2 {
    text-align: center;
    line-height: 1em;
    margin: 0.2em;
}

.titles h1 {
    font-size: 2.5cqw;
}

.titles h2 {
    font-size: 2cqw;
}

.content,
.dados,
.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.dados {
    margin: auto;
}

::placeholder {
    color: var(--font-primary);
    font-weight: 100;
    opacity: 0.5;
}

select:invalid,
input[type="date"]:invalid {
    /* placeholder do select, precisa que o select seja required */
    color: rgba(0, 0, 0, 0.3);
    font-weight: 100;
}


input {
    height: 2.5em;
    margin-bottom: 15px;
    padding-left: 10px;
    appearance: none;
    border-radius: var(--border-radius);
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: var(--soft-color) solid 2px;
}

select,
textarea {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background: #fff;
    border-radius: var(--border-radius);
}

textarea {
    padding: 5px 15px;
    font-size: 1em;
}

select option:hover {
    box-shadow: 0 0 10px 100px var(--bg-secondary) inset;
}

select option:checked {
    color: #fff;
    box-shadow: 0 0 10px 100px var(--bg-secondary) inset;
}

a:hover {
    cursor: pointer;
}

i:hover {
    color: var(--link-hover);
}

select,
input {
    outline: none;
}

input[type="date"] {
    font-size: 1.2rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 1.5em;
    background-image: url('../icons/calendar.svg');
}

select:hover,
input:hover,
textarea:hover {
    box-shadow: 4px 4px 10px var(--hover-color);
}

div.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 10cqw;
    color: var(--secondary);
}

table {
    font-size: 1.2rem;
    width: 100%;
    border-collapse: collapse;
}

table.form th {
    display: none;
}

table.form td {
    display: block;
    margin-bottom: 10px;
    border-bottom: none;
}

table.form td[data-th]:before {
    content: attr(data-th) ": ";
    font-weight: 600;
}

tbody tr:hover {
    background-color: var(--hover-color);
}

tr {
    padding: 0;
    vertical-align: middle;
    line-height: 1.5;
}

td.icon {
    cursor: pointer;
}

td.icon div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

th,
td {
    padding-right: 0.5em;
    text-align: left;
    border-bottom: 1px solid var(--secondary);
    vertical-align: middle;
}

td.center {
    display: table-cell;
    text-align: center !important;
}

td>input,
td>select {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 0.9em;
    overflow-x: scroll;
}

th {
    border-bottom: 2px solid var(--secondary);
}

@media (max-width: 992px) and (orientation: landscape) {
    .container {
        width: 100%;
        overflow-x: auto;
    }

    table {
        font-size: 1em;
    }

    th.m-hidden,
    td.m-hidden {
        display: none;
    }
}

@media (max-width: 992px) and (orientation: portrait) {
    * {
        font-size: 18px;
    }

    .container {
        min-height: 70vh;
        width: 95vw;
        padding: 5px;
    }

    .titles {
        margin-top: 30px;
    }

    .titles h1 {
        font-size: 1.5rem;
    }

    .titles h2 {
        font-size: 1.1rem;
    }

    .content,
    .dados {
        justify-content: start;
    }

    .big-icon {
        padding: 10px;
        font-size: 10cqw;
    }

    .w-1,
    .w-2,
    .w-3,
    .w-5,
    .w-100 {
        width: 100% !important;
    }

    div.icon {
        font-size: 20cqw;
    }

    table {
        font-size: 1.3em;
    }

    table.form {
        width: 90vw;
    }

    th {
        display: none;
    }

    td {
        display: block;
    }

    td:before {
        float: left;
        content: attr(data-th) ":\00A0";
        font-weight: 600;
    }

    td:last-child,
    td:has(input),
    td:has(select) {
        border-bottom: none;
    }

    td:first-child:before,
    td:last-child:before,
    td:has(input):before,
    td:has(select):before {
        content: "";
    }

    td:first-child {
        font-weight: 600;
    }

    td:last-child {
        margin-bottom: 30px;
    }

    td.icon div {
        justify-content: flex-start;
        padding-left: 0;
    }

}