<div id="dialog" class="show background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3>Agendar Consulta</h3>
            <a onclick="closeDialog('dialog')">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <div class="content consultas" hx-ext="client-side-templates">

                <div class="search-bar center">

                    <label class="search">
                        <input autofocus type="search" name="search" placeholder="Paciente (parte do nome ou CPF)"
                            hx-post="/api/pacientes/search" hx-trigger="input changed delay:500ms, search"
                            hx-target="#slot-pacientes" mustache-array-template="pacientes-template">
                    </label>
                    <img id="spinner" class="htmx-indicator" width="80px" src="./icons/spinner.svg" />
                </div>

                <div hx-get="/api/medicos/ativos" hx-trigger="load" hx-target="#slot-medicos" hx-swap="innerHTML"
                    mustache-array-template="medicos-template">
                </div>

                <section id="slot-pacientes"><span class="pacientes"></span></section>
                <section id="slot-medicos"></section>

                <template id="pacientes-template">

                    <div class="pacientes">

                        <select class="u-case" name="id_paciente" size="2" onmousedown="this.size=2"
                            onchange="this.size=0" onblur="this.size=0">
                            {{#data.info}}
                            <option class="u-case" value="{{id}}">{{nome}}</option>
                            {{/data.info}}
                        </select>
                    </div>
                </template>

                <template id="medicos-template">
                    <fieldset class="medicos">
                        <legend>Selecione o médico</legend>

                        <a class="{{data.pagination.alias_first_page}}" hx-get="/api/medicos/ativos"
                            hx-vars="{'page':{{data.pagination.previous_page}}}" hx-target="#slot-medicos"
                            hx-swap="innerHTML" mustache-array-template="medicos-template">
                            <i class="{{data.pagination.alias_first_page}} material-symbols-outlined small-icon">
                                chevron_left
                            </i>
                        </a>

                        {{#data.info}}
                        <div>
                            <input type="radio" id="i-{{id}}" name="id_medico" value="{{id}}">
                            <label class="u-case" for="i-{{id}}" hx-get="/api/medicos/horarios/{{turno}}"
                                hx-vars="{'page':{{data.pagination.previous_page}}}" hx-target="#slot-turnos"
                                hx-swap="innerHTML" mustache-array-template="turnos-template">{{nome}}</label>

                        </div>
                        {{/data.info}}

                        <a class="{{data.pagination.alias_last_page}}" hx-get="/api/medicos/ativos"
                            hx-vars="{'page':{{data.pagination.next_page}}}" hx-target="#slot-medicos"
                            hx-swap="innerHTML" mustache-array-template="medicos-template">
                            <i class="{{data.pagination.alias_last_page}} material-symbols-outlined small-icon">
                                chevron_right
                            </i>
                        </a>

                    </fieldset>
                </template>


                <div class="data-hora">
                    <fieldset>
                        <legend>Selecione data e horário</legend>

                        <div class="horario">
                            <input type="date" name="dt_consulta">
                            <div class="v-divider">
                                <span class="divider"></span>
                            </div>

                            <div id="slot-turnos" class="horario-cards"></div>

                            <template id="turnos-template">
                                {{#data}}
                                <input type="radio" id="hr1" name="hr_consulta" value="{{hr1}}">
                                <label for="hr1">{{hr1}}</label>
                                <input type="radio" id="hr2" name="hr_consulta" value="{{hr2}}">
                                <label for="hr2">{{hr2}}</label>
                                <input type="radio" id="hr3" name="hr_consulta" value="{{hr3}}">
                                <label for="hr3">{{hr3}}</label>
                                <input type="radio" id="hr4" name="hr_consulta" value="{{hr4}}">
                                <label for="hr4">{{hr4}}</label>
                                <input type="radio" id="hr5" name="hr_consulta" value="{{hr5}}">
                                <label for="hr5">{{hr5}}</label>
                                {{/data}}
                            </template>
                        </div>
                    </fieldset>
                </div>

                <div class="observacoes">

                    <h5>Observações</h5>

                    <div class="observacao">
                        <textarea name="observacao" rows="2"></textarea>
                    </div>
                </div>

                <div id="toast" class="animate__animated animate__faster"></div>

            </div>
        </section>

        <div class="buttons">
            <a class="button secondary" onclick="closeDialog('dialog')">
                Cancelar
            </a>

            <a class="button" hx-trigger="click" hx-post="/api/consultas" hx-include="#dialog"
                hx-target="#slot-agendadas" hx-swap="innerHTML" mustache-array-template="consultas-template">
                Salvar
            </a>
        </div>
    </div>
</div>