<div id="dialog" class="background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3 class="u-case">{nome}</h3>
            <a onclick="closeDialog('dialog')" hx-get="/api/medicos" hx-swap="outerHTML" hx-target="#dialog">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <ul>
                <li>
                    <label>Especialidade</label>
                    <div class="fl-case">{especialidade}</div>
                </li>

                <li>
                    <label>CRM</label>
                    <div class="u-case">{crm}</div>
                </li>

                <li>
                    <label>RG</label>
                    <div>{rg}</div>
                </li>

                <li>
                    <label>CPF</label>
                    <div>{cpf}</div>
                </li>

                <li>
                    <label>Telefone</label>
                    <div>{telefone}</div>
                </li>

                <li>
                    <label>E-mail</label>
                    <div class="l-case">{email}</div>
                </li>

                <li>
                    <label>Sexo</label>
                    <div>{sexo}</div>
                </li>

                <li>
                    <label>Data de Nascimento</label>
                    <div>{dt_nasc}</div>
                </li>

                <li>
                    <label>Turno</label>
                    <div class="fl-case">{turno}</div>
                </li>

                <li>
                    <label>Status</label>
                    <div class="u-case">{status}</div>
                </li>

                <li class="endereco">
                    <label>Endereço</label>
                    <div class="u-case">{logradouro}</div>
                    <div class="u-case">{cidade} - {uf}</div>
                    <div>CEP: {cep}</div>
                </li>
            </ul>
        </section>
    </div>
</div>