<div id="dialog" class="show background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3> Editar Cadastro do Médico </h3>
            <a onclick="closeDialog('dialog')">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <table class="form">
                <tr trigger="cancel" class="editing">
                    <td data-th="Nome"><input name="nome" value="{nome}"></td>
                    <td data-th="Especialidade"><input name="especialidade" value="{especialidade}"></td>
                    <td data-th="CRM"><input name="crm" onkeyup="crmMask(this)" value="{crm}"></td>
                    <td data-th="RG"><input name="rg" onkeyup="rgMask(this)" value="{rg}"></td>
                    <td data-th="CPF"><input name="cpf" onkeyup="cpfMask(this)" value="{cpf}"></td>
                    <td data-th="Telefone"><input name="telefone" onkeyup="phoneMask(this)" value="{telefone}"></td>
                    <td data-th="E-mail"><input name="email" value="{email}"></td>
                    <td data-th="Data nascimento"><input name="dt_nasc" value="{dt_nasc}"></td>
                    <td data-th="Sexo">
                        <select id="sexo" name="sexo">
                            <option value="" selected disabled hidden>Sexo</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </td>
                    <td data-th="UF">
                        <select id="uf" name="uf">
                            <option value="" selected disabled hidden>Estado</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AM">AM</option>
                            <option value="AP">AP</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MG">MG</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="PR">PR</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="RS">RS</option>
                            <option value="SC">SC</option>
                            <option value="SE">SE</option>
                            <option value="SP">SP</option>
                            <option value="TO">TO</option>
                        </select>
                    </td>
                    <td data-th="CEP"><input name="cep" value="{cep}"></td>
                    <td data-th="Cidade"><input name="cidade" value="{cidade}"></td>
                    <td data-th="Endereço"><input name="logradouro" value="{logradouro}"></td>
                    <td data-th="Turno">
                        <select id="turno" name="turno">
                            <option value="diurno">Diurno</option>
                            <option value="noturno">Noturno</option>
                            <option value="vespertino">Vespertino</option>
                        </select>
                    </td>
                    <td data-th="Situação">
                        <select id="status" name="status">
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </td>

                    <script>defaultOption('turno', '{turno}')</script>
                    <script>defaultOption('status', '{status}')</script>
                    <script>defaultOption('sexo', '{sexo}')</script>
                    <script>defaultOption('uf', '{uf}')</script>
                </tr>
            </table>
        </section>
        <div class="buttons">
            <a class="button secondary" onclick="closeDialog('dialog')">
                Cancelar
            </a>
            <a class="button" onclick="closeDialog('dialog')" hx-trigger="click" hx-include="#dialog"
                hx-put="/api/medicos/{id}" hx-target="#slot_lista
                " hx-swap="innerHTML" mustache-array-template="medico-template">
                Salvar
            </a>
        </div>
    </div>
</div>