<div id="dialog" class="show background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3>Cadastrar Médico</h3>
            <a onclick="closeDialog('dialog')">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <table class="form">
                <tr trigger="cancel" class="editing">
                    <td><input placeholder="Nome do médico" name="nome" value=""></td>
                    <td><input placeholder="CRM" onkeyup="crmMask(this)" name="crm" value=""></td>
                    <td><input placeholder="E-mail do médico" name="email" value=""></td>
                    <td><input placeholder="Telefone" onkeyup="phoneMask(this)" name="telefone" value=""></td>
                    <td><input placeholder="RG" onkeyup="rgMask(this)" name="rg" value=""></td>
                    <td><input placeholder="CPF" onkeyup="cpfMask(this)" name="cpf" value=""></td>
                    <td>
                        <select name="especialidade" required>
                            <option value="" selected disabled hidden>Selecione a Especialidade</option>
                            <option value="psicologia">Psicologia</option>
                            <option value="psiquiatria">Psiquiatria</option>
                            <option value="psicanalise">Psicanalise</option>
                        </select>
                    </td>
                    <td><input placeholder="Data de nascimento" name="dt_nasc" onkeyup="dtMask(this)" value=""></td>
                    <td>
                        <select name="sexo" required>
                            <option value="" selected disabled hidden>Selecione o sexo</option>
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                        </select>
                    </td>
                    <td>
                        <input placeholder="CEP" name="cep" onkeyup="cepMask(this)" onblur="getAddress(value)" value="">
                    </td>
                    <td>
                        <select id="uf" name="uf" onfocus="getEstados()" onchange="selCidades(value)" required>
                            <option value="">Selecione a UF</option>
                        </select>
                    </td>
                    <td>
                        <select id="cidade" name="cidade" onmousedown="if(this.options.length>10){this.size=5}"
                            onchange="this.size=0" onblur="this.size=0" required>
                            <option value="">Selecione a UF primeiro</option>
                        </select>
                    </td>
                    <td>
                        <input id="logradouro" name="logradouro" placeholder="Rua, número, apto" value="">
                    </td>
                    <select name="turno" required>
                        <option value="" selected hidden>Selecione o turno</option>
                        <option value="diurno">Diurno</option>
                        <option value="noturno">Noturno</option>
                        <option value="vespertino">Vespertino</option>
                    </select>
                    </td>
                    <td>
                        <select name="status" required>
                            <option value="" selected hidden>Selecione a situação</option>
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>

        <div class="buttons">
            <a class="button secondary" onclick="closeDialog('dialog')">
                Cancelar
            </a>

            <a class="button" hx-trigger="click" hx-include="#dialog" hx-post="/api/medicos" hx-target="#slot_lista"
                hx-swap="innerHTML" mustache-array-template="medico-template">
                Salvar
            </a>
        </div>
    </div>
</div>