<div id="dialog" class="show background">
    <div class="info animate__animated animate__faster animate__fadeInUp">
        <div class="close">
            <h3>Cadastrar Paciente</h3>
            <a onclick="closeDialog('dialog')">
                <i class="material-symbols-outlined">close</i>
            </a>
        </div>

        <section>
            <table class="form">
                <tr trigger="cancel" class="editing">
                    <td><input placeholder="Nome do paciente" name="nome" value=""></td>
                    <td><input placeholder="RG" onkeyup="rgMask(this)" name="rg" value=""></td>
                    <td><input placeholder="CPF" onkeyup="cpfMask(this)" name="cpf" value=""></td>
                    <td><input placeholder="Data de nascimento" name="dt_nasc" onkeyup="dtMask(this)" value=""></td>
                    <td><input placeholder="Telefone do paciente" onkeyup="phoneMask(this)" name="telefone" value="">
                    <td><input placeholder="E-mail do paciente" name="email" value=""></td>
                    <td>
                        <select name="sexo" required>
                            <option value="" selected disabled hidden>Selecione o sexo</option>
                            <option value="feminino">Feminino</option>
                            <option value="masculino">Masculino</option>
                        </select>
                    </td>
                    <td><input placeholder="Peso" name="peso" onkeyup="pesoMask(this)" value=""></td>
                    <td><input placeholder="Altura" name="altura" onkeyup="altMask(this)" value=""></td>
                    <td>
                        <select id="tp_sanguineo" name="tp_sanguineo" required>
                            <option value="">Selecione o tipo saguíneo</option>
                        </select>
                    </td>
                    <td>
                        <input placeholder="CEP" name="cep" onkeyup="cepMask(this)" onblur="getAddress(value)" value="">
                    </td>

                    <td>
                        <select id="uf" name="uf" onchange="selCidades(value)" required>
                            <option value="">Selecione a UF</option>
                        </select>
                    </td>

                    <td>
                        <select id="cidade" name="cidade" onmousedown="if(this.options.length>10){this.size=5}"
                            onchange="this.size=0" onblur="this.size=0" required>
                            <option value="">Selecione a UF primeiro</option>
                        </select>
                    </td>
                    <td>
                        <input id="logradouro" name="logradouro" placeholder="Rua, número, apto" value="">
                    </td>
                    <td>
                        <select name="status" required>
                            <option value="" selected hidden>Selecione</option>
                            <option value="agendada">Agendada</option>
                            <option value="cancelada">Cancelada</option>
                            <option value="concluída">Concluída</option>
                        </select>
                    </td>
                </tr>
            </table>
        </section>

        <script>getEstados()</script>
        <script>getTiposSangue()</script>

        <div class="buttons">
            <a class="button secondary" onclick="closeDialog('dialog')">
                Cancelar
            </a>

            <a class="button" hx-trigger="click" hx-include="#dialog" hx-post="/api/pacientes" hx-target="#slot-lista"
                hx-swap="innerHTML" mustache-array-template="medico-template">
                Salvar
            </a>
        </div>
    </div>
</div>